@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wincomp Informatica LTDA</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Iniciando</h2>
        <p>Este projeto usa ASP .NET MVC 5 e Entity Framework 6.</p>
    </div>
    <div class="col-md-4">
        <h2>Objetivos</h2>
        <p>Manter um cadastro de treinamentos e alunos e respctivas matrículas.</p>
    </div>
    <div class="col-md-4">
        <h2>Banco de Dados</h2>
        <p>Utilizaremos o SQL Server para armazenar as Informações.</p>
    </div>
</div>