@model Wincomp.Models.Aluno
@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir Aluno</h2>
<h3>Confirma Exluir?</h3>

    <div class="form-horizontal">
        <h4>Aluno</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                
                    <dl>
                        <dt>Aluno :</dt>
                        <dd>@Html.DisplayFor(model => model.NomeAluno)</dd>

                        <dt>Email :</dt>
                        <dd>@Html.DisplayFor(model => model.Email)</dd>

                        <dt>Data :</dt>
                        <dd>@Html.DisplayFor(model => model.Data)</dd>
                    </dl>
            </div>
        </div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Excluir" class="btn btn-default" />
    </div>       
}
</div>
